.testimonial__container {
  width: 550px;
}

.testimonial__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; /* Removed padding to make room for the image */
  margin-bottom: var(--mb-3);
  position: relative; /* To position the image inside the card */
  overflow: hidden; /* To prevent the image from overflowing the card */
  /* Removed border-radius to prevent rounded corners */
}

.testimonial__img {
  width: 100%; /* Make the image span the entire width of the card */
  height: 100%; /* Make the image cover the entire card */
  object-fit: cover; /* Ensure the image covers the space without distorting */
  /* Removed border-radius to prevent rounded corners */
}

.testimonial__name,
.testimonial__description {
  display: none; /* Hide name and description to only show the image */
}

/* Swiper Pagination Styling */
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .testimonial__container {
    width: initial;
  }
  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  /* Adjustments can be added here */
}

/* For small devices */
/* @media screen and (max-width: 350px) {
} */
